.cart{
    font-size:large;
    margin: 80px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    opacity: 70%;
    margin-bottom: 50px;
}
.shop-cart {
    margin: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: white;
    padding-left: 120px;
}
.prod_image {
    height: 140px;
    width: 180px;
}
.shop__cart__table tbody tr td {
    padding: 30px 0;
}
.shop__cart__table tbody tr .cart__product__item {
    overflow: hidden;
    width: 500px;
}
.shop__cart__table tbody tr,thead {
    border-bottom: 1px solid lightgray;
}

.shop__cart__table thead th {
    font-size: 18px;
    color: #ca1515;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-left: 50px;
}
.shop__cart__table tbody tr .cart__product__item {
    overflow: hidden;
    width: 585px;
}
h3 {
    padding-top: 10px;
    font-family: Font-Awesome!important;
}

.shop__cart__table tbody tr .cart__total,.shop__cart__table tbody tr .cart__price,.shop__cart__table tbody tr .cart__quantity  {
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    text-align: center;
}
/*.shop__cart__table tbody tr .cart__close span {
    height: 45px;
    width: 45px;
    background: #f2f2f2;
    border-radius: 50%;
    font-size: 18px;
    color: #111111;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}*/
button{
    outline: none;
    border: none;
    margin-left: 10px;
}
.end_card{
    display:flex;
    margin-bottom: 40px;
}
mat-card-title{
    font-size: large;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    color: #ca1515;
}
.cart_card{
    width: 360px;
    height:150px;
    padding: 30px;
    font-family: Font-Awesome!important;
}

p#grand_total {
    font-size: 18px;
    margin-top: 20px;
}

.address{
    width: 800px;
    margin-left: 50px;
    padding: 30px;
    margin-right: 90px;
    font-family: Font-Awesome!important;
}
.address1{
    display:flex;
    padding-top:15px;
}
.address1>p{
    padding-left: 10px;
    font-size: 17px;
}
.final{
    display: flex;
    margin-left: 930px;
    margin-bottom: 50px;
}
.done_btn{
    background-color: #673ab7;
    color: white;
    margin-right: 200px;
}
.clear_btn{
    background-color: red;
    color: white;
}
.btn1{
        background-color:#B06407;
        color:white;
        outline: none;
        margin-right: 20px;
        float: right;
}




