.cart{
    font-size:large;
    margin: 80px;
    text-align: center;
    line-height: 70px;
    background-color: white;
    opacity: 70%;
    margin-bottom: 50px;
}
.shop-cart {
    margin: 50px;
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: white;
    padding-left: 120px;
}
.prod_image {
    height: 140px;
    width: 180px;
}
.shop__cart__table tbody tr td {
    padding: 30px 0;
}
.shop__cart__table tbody tr .cart__product__item {
    overflow: hidden;
    width: 500px;
}
.shop__cart__table tbody tr,thead {
    border-bottom: 1px solid lightgray;
}

.shop__cart__table thead th {
    font-size: 18px;
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-left: 50px;
}
.shop__cart__table tbody tr .cart__product__item {
    overflow: hidden;
    width: 585px;
}
h3 {
    padding-left: 30px;
    padding-top: 10px;
    font-family: Font-Awesome!important;
    color:#ca1515;
}
.shop__cart__table tbody tr .cart__quantity .pro-qty {
    border: none;
    padding: 0;
    width: 110px;
    border-radius: 0;
}

.shop__cart__table tbody tr .cart__total,.shop__cart__table tbody tr .cart__price,.shop__cart__table tbody tr .cart__quantity  {
    font-size: 16px;
    color: #ca1515;
    font-weight: 600;
    width: 150px;
    text-align: center;
}
.shop__cart__table tbody tr .cart__close span {
    height: 45px;
    width: 45px;
    background: #f2f2f2;
    border-radius: 50%;
    font-size: 18px;
    color: #111111;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
}
button{
    outline: none;
    border: none;
    background-color: burlywood;
    margin-left: 10px;
}
.final{
    width: 320px;
    margin-left: 980px;
    margin-bottom: 50px;
    padding: 30px;
    color: #ca1515;
    font-family: Font-Awesome!important;
}
mat-card-title{
    font-size: large;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
}
p#grand_total {
    font-size: 18px;
    margin-top: 20px;
}
.done{
    color: #ca1515;
    outline: none;
    border: none;
    margin-left: 980px;
    margin-bottom: 50px;
}



