<app-header></app-header>
<div *ngIf = "grand_total==0 && !user" class="cart">
    <img height="150px" width="150px" src="assets/cart.jpg">
    <p><b>Please Login to add items to cart</b></p>
</div>
<div *ngIf = "grand_total==0" class="cart">
    <img height="150px" width="150px" src="assets/cart.jpg">
    <p><b>No items in the cart</b></p>
</div>
<div>
    <mat-card  class="shop-cart" *ngIf="cart_items">
        <div class="shop__cart__table">
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of cart_items">
                    <tr>
                        <td class="cart__product__item">
                            <img class="prod_image" src="http://localhost:5000/images/{{item.item_image}}" alt="item.item_name" >
                            <div class="cart__product__item__title">
                                <h3>{{item.item_name}}</h3>
                            </div>
                        </td>
                        <td class="cart__price">{{item.item_price}}</td>
                        <td class="cart__quantity">{{item.item_quantity}}</td>
                        <td class="cart__total">{{item.item_price*item.item_quantity}}</td>
                        <!--<td class="cart__close"><span><button class="fa fa-times" (click)="remove_item(item.item_id)"></button></span></td>-->
                    </tr>
                </tbody>
            </table>
        </div>
        
    </mat-card>
    <mat-card class="address" *ngIf="grand_total>0">
        <mat-card-title>CHOOSE ADDRESS</mat-card-title>
    </mat-card>
    <mat-card class="final" *ngIf = "grand_total > 0">
        <mat-card-title>CART TOTAL</mat-card-title>
        <p id = "grand_total" >Grand Total : {{grand_total.toFixed(2)}}</p>
    </mat-card> 
    <button mat-button class="done" *ngIf = "grand_total > 0">Done</button>
</div>
<app-footer></app-footer>

