/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body {  
    background-color:#E8CEBF;
    /*background-color: #f5e0d4fb;*/
    height: 100% !important;
}

html{
    overflow-x: hidden;
}

body { margin: 0px; font-family: Roboto, "Helvetica Neue", sans-serif;}

@font-face {
    font-family:gabriola;
    src: url(assets/fonts/gabriola-Font-Download.ttf);

    font-family:Nilland;
    src: url(assets/fonts/Nilland.ttf);
    
    font-family:Johnston;
    src: url(assets/fonts/P22_Johnston_Underground.ttf);

    /**/
  }  

  @font-face{
    font-family:Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf);
  }