<mat-toolbar>
    <div class="col-md-7 text-left">
      <a routerLink = "/home"><img src="assets/logo.png" width="125px" height="70px"></a>
      <a routerLink = "/home"><h1><b><span style="color:#C73044ff">S</span><span style="color:#4E919Dff">H</span>
        <span  style="color:#CF628Cff">O</span><span  style="color:#445F3Fff">P</span>
      <span  style="color:#744684ff">E</span><span  style="color:#A9441Cff">A</span>
      <span style="color:#538F7Bff">S</span><span style="color:#BE9638">E</span></b></h1></a>
    </div>
    <a mat-button routerLink='#' routerLinkActive="active"><span class="fa fa-lg fa-info-circle"><b> About Us</b></span></a>
    <a mat-button routerLink='#' routerLinkActive="active"><span class="fa fa-lg fa-mobile"><b> Contact Us</b></span></a>
    <a mat-button routerLink='#' routerLinkActive="active"><span class="fa fa-lg fa-shopping-cart"><b> Cart</b></span></a>
    <a mat-button routerLink='#' routerLinkActive="active"><span class="fa fa-lg fa-sign-out"><b> Login</b></span></a>
</mat-toolbar>

  