.contact{
    font-size:large;
    margin: 80px;
    text-align: center;
    line-height: 70px;
    opacity: 70%;
}

.footer{
    margin-top: 60px!important;
}

.header{
    padding: 0px;
    position: fixed;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100% !important;
}