.shop-card{
    margin-top:-500px !important;
    height:500px;
    width:400px;
    padding:40px;
    background-color: #EBD6C5;
    opacity:70%;
    font-family:gabriola !important;
    color: #201a2b !important;
}

.shop-card h1:first-child{
    margin-top:110px;
    margin-left:45px;
}

.shop-card :nth-child(even){
    margin-left:65px;
}

.shop-card h1{
    font-family:gabriola !important;
    color: #201a2b !important;
    font-size:55px !important;
    margin-bottom: 15px;
}

.shop-card p{
    font-size:25px !important;
    margin-top:5px;
    line-height: 30px;
}
.quote,.review {
    background-color: #faebd7;
    padding: 30px;
    text-align: center;
}
.quote>h1,h3,h4,.review>h1{
    font-family: gabriola !important;
    font-size: 30px;
}
.innerdiv>p{
    font-family: gabriola !important;
    font-size: 20px;
    line-height: 35px;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    padding:20px;
}
.outerdiv{
    display: flex;
    margin-top: 80px;
}
.innerdiv {
    padding-left: 50px;
    padding-right: 50px;
    font-size: large;
}
