<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class = "row">
        <div class = "col-md-6 color">
          <h1>Welcome To ShopEase</h1>
          <h1>We bring you a wide</h1>
          <h1>range of trendy shirts,</h1>
          <h1> trousers, and many more,</h1>
          <h1>all at affordable prices</h1>
          <h1>to make them accessible to you.</h1>
        </div>
        <div class = "col-md-6">
          <img src="assets/temp1.jpeg" height="450px" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class = "row">
        <div class = "col-md-6">
          <img src="assets/carasol11.png" height="450px" class="d-block w-100" alt="...">
        </div>
        <div class = "col-md-6 color">
          <h1>Pick Your Favourite </h1>
          <h1>Clothes From Various Categories</h1>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class = "row">
        <div class = "col-md-6 color">
          <h1>Add Clothes Which Are</h1>
          <h1>Picked To Cart</h1>
        </div>
        <div class = "col-md-6">
          <img src="assets/carasol13.png" height="450px" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class = "row">
        <div class = "col-md-6">
          <img src="assets/carasol12.png" height="450px" class="d-block w-100" alt="...">
        </div>
        <div class = "col-md-6 color">
          <h1>Provide Destination Address</h1>
          <h1>For The Home Delivery</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span><b><i class="fa fa-angle-left" aria-hidden="true"></i></b></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span><b><i class="fa fa-angle-right" aria-hidden="true"></i></b></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>

<div class="row main-category">

  <div class="category">
    <div class = "category-header">
      <h3>Adult</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="[ '/display','Men']"><img src="assets/men1.png" height="150px" width="230px"></a>
        <div class = "category-circle"></div>
        <a class="hovering-element" [routerLink]="[ '/display','Men']">Men</a>
      </div>
      <div class="col-md-6">
        <a [routerLink]="[ '/display','Women']"><img src="assets/women1.png" height="150px" width="230px"></a>
        <div class="category-circle"></div>
        <a class="hovering-element" [routerLink]="[ '/display','Women']">Women</a>
      </div>
    </div>
  </div>

  <div class = "vertical-hr"></div>

  <div class="category">
    <div class = "category-header">
      <h3>Kids</h3>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="[ '/display','Boy']"><img src="assets/boy1.png" height="150px" width="230px"></a>
        <div class="category-circle"></div>
        <a class="hovering-element" [routerLink]="[ '/display','Boy']">Boy</a>
      </div>
      <div class="col-md-6">
        <a [routerLink]="[ '/display','Girl']"><img src="assets/girl1.png" height="150px" width="230px"></a>
        <div class="category-circle"></div>
        <a class = "hovering-element" [routerLink]="[ '/display','Girl']">Girl</a>
      </div>
    </div>
  </div>

</div>


<mat-card class = "pop-over hide">
  <div class="arrow"></div>
  <div class="pop-over-body">
    <h3>Hello</h3>
  </div>
</mat-card>



<app-footer></app-footer>