.div1{
    font-family: Arial, Helvetica, sans-serif;
    height:120px;
    /*background-color: #FEF2E5ff;*/
    background-color: #2b2935;
    padding-left:50px;
    display:flex;
}

a,p{
    color:wheat !important;
}

.div2>a{
    font-size: medium;
}
.div2{
    padding-left: 140px;
    padding-top: 20px;
    width: 400px;
}

.div3{
    /*background-color:  #FEF2E5ff;*/
    background-color:#2b2935;
    padding-left: 185px;
    font-size: medium;
    line-height: 25px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}