<!--<div class="header">
    <app-header></app-header>
</div>-->
<div [hidden]="detail" class="page">
    <!--Filter starts here-->
    <div class="side_bar">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Categories
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list *ngIf="categories">
                    <div class="category1" *ngFor="let category of categories">
                        <a [routerLink]="[ '/display',sectionName, category.category_id]" routerLinkActive = "active">{{category.category_name}}</a>
                    </div>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Brand
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list *ngIf="brandFilter">
                <form action="#" class="filter_form">
                    <ul>
                        <li *ngFor="let bF of brandFilter">
                          <mat-checkbox (change) = "filterSelectionItems('brand',bF)">
                            {{bF}}
                          </mat-checkbox>
                        </li>
                    </ul>
                </form>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Price
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <form action="#" class="filter_form">
                    <!--<input type="range" min="1" max="100" value="50" class="slider" id="myRange">-->
                    <label>Minimum Price</label><input type="text" class="form-control" value={{minPrice}} id="minprice">
                    <label>Maximum Price</label><input type="text" class="form-control" value={{maxPrice}} id="maxprice"> 
                    <button mat-raised-button color="primary" (click)="filterSelectionItems('price',0)">Apply</button>
                </form>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Size
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list *ngIf="sizeFilter">
                <form action="#" class="filter_form">
                    <ul>
                        <li *ngFor="let sF of sizeFilter">
                          <mat-checkbox (change) = "filterSelectionItems('size',sF)">
                            {{sF}}
                          </mat-checkbox>
                        </li>
                      </ul>
                </form>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Color
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list *ngIf="colorFilter">
                <form action="#" class="filter_form">
                    <ul>
                        <li *ngFor="let cF of colorFilter">
                          <mat-checkbox (change) = "filterSelectionItems('color',cF)">
                            {{cF}}
                          </mat-checkbox>
                        </li>
                      </ul>
                </form>
            </mat-nav-list>
        </mat-expansion-panel>
    </div>
    <!--Filter end here-->

    <!--Item display starts here-->
    <div class="disp">
        <div *ngIf="items imgURL" class="row scroll">
            <mat-card *ngFor="let item of items;let i=index" class="col-md-3 example-card matcard1" role="button">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="text-center">{{item.item_name}}</mat-card-title>
                </mat-card-header>
                <img class="img1" class="img1" mat-card-image src="http://localhost:5000/images/{{imgURL[i]}}" alt="item.item_name" (click)="product_detail(item.item_id)">
                <mat-card-content class="card_bottom">
                    <p><b>Brand : {{item.item_brand}}</b></p>
                    <p><b>Price : {{item.item_price}}/-</b></p>
                    <button *ngIf = "user && user[0].isAdmin == true" class = "delete-button" mat-button (click) = "delete_item(item)" color="warn"><i class="fa fa-trash-o fa-lg"></i></button>
                    <!--<div *ngFor = "let it of wishList_items">
                        <button *ngIf = "user && user[0].isAdmin != true && it == item" class = "wishlist-button" mat-button (click) = "remove_wishlist_item(item)" color="warn"><i class="fa fa-heart fa-lg"></i></button>
                        <button *ngIf = "user && user[0].isAdmin != true && it != item" class = "wishlist-button" mat-button (click) = "wishlist_item(item)" color="warn"><i class="fa fa-heart-o fa-lg"></i></button>
                    </div>-->
                    
                </mat-card-content>
            </mat-card>
        </div>
        <!--<div *ngIf = "!items || !imgURL">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
        </div>-->
    </div>
</div>
<div [hidden]="!detail">
    <button class="button1" (click)="go_back()"><span class="fa fa-arrow-left fa-2x"></span></button>
    <div *ngIf="selectedItem selectedimage" class="detail">
        <mat-card *ngFor="let item of selectedItem" class="detailcard">
        <div class="innerdiv">
            <div class="left">
                <div *ngIf="multi_image">
                    <!--<div *ngFor="let image of selectedimage">
                        <img class="imgcard" mat-card-image  src="http://localhost:5000/images/{{image}}" alt="item.item_name">
                    </div>-->
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="imgcard" mat-card-image  src="http://localhost:5000/images/{{selectedimage[0]}}" alt="item.item_name">
                          </div>
                          <div class="carousel-item">
                            <img class="imgcard" mat-card-image  src="http://localhost:5000/images/{{selectedimage[1]}}" alt="item.item_name">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <div *ngIf="!multi_image">
                        <img class="imgcard" mat-card-image  src="http://localhost:5000/images/{{selectedimage}}" alt="item.item_name">
                </div>
            </div>
            <div class="right">
                <h2>{{item.item_name}}</h2>
                <p><b>Brand:</b> {{item.item_brand}}</p>
                <p><i class="fa fa-inr fa-lg"></i>{{item.item_price}}</p>
                <p><b>Product Details:</b></p>
                <div *ngFor="let detail of item.item_details" class="product">
                    <p>{{detail}}</p>
                </div>
            </div>
        
        </div>
        <hr> 
        <form action="#" [formGroup]="cartDetails">
        <div class="innerdiv"> 
                <div class="right">
                    <p><b>Available Size</b></p>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group" formControlName = "size">
                        <mat-radio-button class="example-radio-button" *ngFor="let sze of item.item_size" [value]="sze" (change)="cart_details('size',sze)">
                            {{sze}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="right">
                    <p><b>Available Color</b></p>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group" formControlName = "color">
                        <mat-radio-button class="example-radio-button" *ngFor="let col of item.colors" [value]="col" (change)="cart_details('color',col)">
                            {{col}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div *ngIf="quantity > 0" class="right">
                    <p><b>Quantity</b></p>
                    <input matInput type="number" id="quantity"  name="quantity" min="1" max={{item.item_qty}} (change)="cart_details('quantity','value')">
                </div>
                <div class="right" *ngIf = "user&&user[0].isAdmin != true&&quantity>0">
                    <button mat-button class="cart_button" [disabled]="cartDetails.invalid" (click)="cart_details('cart',item.item_id)" data-toggle="tooltip" data-placement="bottom" [title]='cartDetails.invalid?"Please select the size and color":""'>Add to Cart</button>
                </div>
                <div *ngIf="quantity == 0" class="right soldout">
                    <p><b>Item is Sold Out!!</b></p>
                </div>
                <!--<div *ngIf="user!= true&&quantity>0" class="right soldout">
                    <p><b>Please Login to add item to cart</b></p>
                </div>-->
        </div>
    </form>
        </mat-card>
    </div>

</div>
<app-footer></app-footer>