.page{
    display:flex;
}

.side_bar{
    width:180px;
    background-color: white;
    line-height: 20px;
    height:1025px;
    overflow-y: scroll;
}
mat-expansion-panel{
    box-shadow:none !important;
  }

.filter_form > div > input{
    margin-right: 6px;
}
mat-nav-list{
    border-bottom: 1px solid #f0f0f0;
}
*, ::after, ::before {
    box-sizing: border-box;
    line-height: 30px;
}

mat-card{
    margin-left:92px !important;
    margin-bottom:35px !important;
    width:300px !important;
    height:380px;
  }
  mat-card:hover {
    transform: scale(1.05);
  }
  .mat-card-header .mat-card-title {
    font-size: large;
    font-family: system-ui;
    height:50px;
}
.mat-card-header-text {
  margin: 0px 15px;
}
::-webkit-scrollbar {
    display:none;
  }
  

.scroll{
    
    height: 900px !important;
    overflow-y: auto !important;
  }

img{
    height:250px !important;
  }
  .disp{
    margin-top:15px !important;
    width:80%;
    padding-top: 50px;
    height:1000px;
  }
  .card_bottom{
      display: flex;
      float:right;
  }
  p{
      padding-right: 25px;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #DDAF94;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .form-control{
    width: 70px;
    height: 30px;
    margin-bottom: 15px;
}
button{
  margin-bottom:15px;
}
  
  /*Chrome Browser Depedent*/
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #4F4846;
    cursor: pointer;
  }
  
  /*FireFox Browser Dependent*/
  /*.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4F4846;
    cursor: pointer;
  }*/