.page{
    display:flex;
}

.side_bar{
    width:180px;
    background-color: white;
    line-height: 20px;
    position: relative;
}
mat-expansion-panel{
    box-shadow:none !important;
  }

.filter_form>input{
    margin-right: 6px;
}
mat-nav-list{
    border-bottom: 1px solid #f0f0f0;
}
*, ::after, ::before {
    box-sizing: border-box;
    line-height: 30px;
}

mat-card{
    margin-left:92px !important;
    margin-bottom:35px !important;
    width:300px !important;
    height:380px;
  }
  mat-card:hover {
    transform: scale(1.05);
  }
  .mat-card-header .mat-card-title {
    font-size: large;
    font-family: system-ui;
    height:50px;
}
.mat-card-header-text {
  margin: 0px 15px;
}
::-webkit-scrollbar {
    display:none;
  }
  

.scroll{
    margin-top:15px !important;
    height: 170vh !important;
    overflow-y: auto !important;
  }

img{
    height:250px !important;
  }
  .disp{
    width:80%;
    padding-top: 50px;
  }
  .card_bottom{
      display: flex;
      float:right;
  }
  p{
      padding-right: 25px;
  }
