<app-header></app-header>
<div class="page">
<!--Filter starts here-->
  <div class="side_bar">
      <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Brand
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngIf="brandFilter">
              <form *ngFor="let bF of brandFilter" action="#" class="filter_form">
                  <input type="checkbox">
                  <label>{{bF}}</label><br>
                </form>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Price
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
              <form action="#"class="filter_form">
                </form>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Size
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngIf="sizeFilter">
              <form *ngFor="let sF of sizeFilter" action="#"class="filter_form">
                  <input type="checkbox">
                  <label>{{sF}}</label><br>
                </form>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Color
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list *ngIf="colorFilter">
              <form *ngFor="let cF of colorFilter" action="#"class="filter_form">
                  <input type="checkbox">
                  <label>{{cF}}</label><br>
                </form>
          </mat-nav-list>
        </mat-expansion-panel>
  </div>
  <!--Filter end here-->

  <!--Item display starts here-->
  <div class="disp">

    <div *ngIf="items imgURL" class = "row">
      <mat-card *ngFor="let item of items;let i=index" class="col-md-3 example-card" role="button">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="text-center">{{item.item_name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src = "http://localhost:5000/images/{{imgURL[i]}}" alt="item.item_name">
        <mat-card-content class="card_bottom">
          <p><b>Brand : {{item.item_brand}}</b></p>
          <p><b>Price : {{item.item_price}}/-</b></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!--Item Display Ends here-->
</div>
<app-footer></app-footer>
