<!--<div class="header">
    <app-header></app-header>
</div>-->
<div class="row"></div>
<div class="about">
    <h3><strong>ONLINE SHOPPING MADE EASY AT SHOPEASE</strong></h3>
    <p>If you would like to experience the best of online shopping for men, women and kids, you are at the right place. ShopEase is the ultimate destination for fashion. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at ShopEase from the comfort of your home and get your favourites delivered right to your doorstep.</p>
    <p>ShopEase came into existence in the year 2015 to encourage customers.</p>
    <h3><strong>SHOP ONLINE AT SHOPEASE WITH COMPLETE CONVENIENCE</strong></h3>
    <p>Another reason why ShopEase is the best of all online stores is the complete convenience that it offers. You can view your favourite brands with price options for different products in one place. A user-friendly interface will guide you through your selection process. Comprehensive size charts, product information and high-resolution images help you make the best buying decisions.</p>
    <p>You can also choose products from various brands like AURA, BST, DAZZLER, MONO, PARADISE, SILVERA and WINGS</p>
    <p>Enjoy the hassle-free experience as you shop comfortably from your home or your workplace. You can also shop for your friends, family and loved-ones.</p>
</div>
<div class="instruction">
    <h3><strong>How ShopEase works?</strong></h3>
    <p>Choose your interest from the departments like Men, Women, Boys and Girls.</p>
    <p>Choose from various categories like casuals, traditional and many more.</p>
    <p>Add your favourite items to cart by logging in.</p>
    <p>After the selections provide your destination address and the products will be delivered to your address.</p>
    <p>Use Cash On Delivery.</p>
</div>
<app-footer></app-footer>
