.about{
    line-height: 30px;
    margin: 50px;
    background-color: white;
    opacity: 70%;
    padding: 40px;
}
.instruction{
    line-height: 30px;
    margin: 50px;
    background-color: white;
    opacity: 70%;
    padding: 40px;
}