<app-header></app-header>

<div class="profile-card">
    <div class="profile-heading">
        <p class="acc-heading">Account</p>
        <p class="username">{{user[0].name}}</p>
        <hr>
    </div>
    <div class="profile-body">
        <div class="side-nav">
            <a [routerLink]="['/my', 'profile']" routerLinkActive="active"><b>Profile</b></a>
            <a [routerLink]="['/my', 'orders']" routerLinkActive="active"><b>Orders</b></a>
            <a [routerLink]="['/my', 'address']" routerLinkActive="active" (click) = "goToAddress()"><b>Addresses</b></a>
            <a [routerLink]="['/my', 'wishlist']" routerLinkActive="active"><b>Wishlist</b></a>
            <a [routerLink]="['/my', 'edit-profile']" routerLinkActive="active"><b>Edit Profile</b></a>
            <a (click)="log_out()"><b>Logout</b></a>
        </div>
        <div class="profile-info" *ngIf="profile">
            <p>Profile Details</p>
            <hr>
            <div class="info scroll">
                <table *ngIf="user">
                    <tr>
                        <td>Full Name</td>
                        <td>{{user[0].name}}</td>
                    </tr>
                    <tr>
                        <td>Mobile Number</td>
                        <td>{{user[0].phone}}</td>
                    </tr>
                    <tr>
                        <td>Email Id</td>
                        <td>{{user[0].email}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td *ngIf="user[0].gender != ''">{{user[0].gender}}</td>
                        <td *ngIf="user[0].gender == ''">Not Added</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td *ngIf="user[0].dob != ''">{{user[0].dob}}</td>
                        <td *ngIf="user[0].dob == ''">Not Added</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td *ngIf="user[0].location != ''">{{user[0].location}}</td>
                        <td *ngIf="user[0].location == ''">Not Added</td>
                    </tr>
                    <tr>
                        <td>Alternative mobile number</td>
                        <td *ngIf="user[0].alt_phone != ''">{{user[0].alt_phone}}</td>
                        <td *ngIf="user[0].alt_phone == ''">Not Added</td>
                    </tr>
                </table>
                <button mat-raised-button (click)="edit_profile_info()">Edit</button>
            </div>
        </div>
        <div class="edit-info" *ngIf="edit">
            <p>Edit Details</p>
            <hr>
            <div class="edit-body scroll">
                <form [formGroup]="editProfileForm">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" formControlName="phone">
                    </mat-form-field><br>
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput type="text" formControlName="email" disabled>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input matInput type="date" formControlName="dob">
                    </mat-form-field><br>
                    <mat-label></mat-label>
                    <mat-form-field appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" formControlName="location">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Alternative Phone Number</mat-label>
                        <input matInput type="text" formControlName="alt_phone">
                    </mat-form-field><br>
                    <label>Gender</label><br><br>
                    <mat-radio-group formControlName="gender" aria-label="Select an option">
                        <mat-radio-button value="male">Male</mat-radio-button>
                        <mat-radio-button value="female">Female</mat-radio-button>
                        <mat-radio-button value="other">Other</mat-radio-button>
                    </mat-radio-group>
                    <button class="save-profile" mat-button (click)="save_profile()">Edit Profile</button>
                </form>
            </div>
        </div>
        <div class="orders-info" *ngIf="orders">
            <p>My Orders</p>
            <hr>
            <div class="order-body" *ngIf="userOrders">
                <div class="insert-button" *ngFor="let order of userOrders">
                    <button *ngIf="order.order_id == clickedOrderId" class="focus-button"
                        mat-raised-button>{{order.order_date}}</button>
                    <button *ngIf="order.order_id != clickedOrderId" mat-raised-button
                        (click)="clicked_id(order.order_id)">{{order.order_date}}</button>
                </div>
                <div class="display-order-table scroll">
                    <div *ngFor="let order of userOrders">
                        <table class="table table-bordered table-hover" *ngIf="order.order_id == clickedOrderId">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Brand</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Section</th>
                                    <th>Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of order['ordered_items']; let i = index">
                                    <td>{{item.item_name}}</td>
                                    <td>{{item.item_brand}}</td>
                                    <td class="numSpan">{{item.item_price}}</td>
                                    <td class="numSpan">{{item.item_quantity}}</td>
                                    <td>{{item.item_section}}</td>
                                    <td>{{item.item_category}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="grand-total table table-bordered" *ngIf="order.order_id == clickedOrderId">
                            <tbody>
                                <tr colspan="6">
                                    <td class="text-right">Grand Total: {{order.grand_total}}</td>
                                </tr>
                                <tr colspan="6">
                                    <td colspan="3" class="text-right" *ngIf = "order.delivered == true">Ordered Delivered:Yes</td>
                                    <td colspan="3" class="text-right" *ngIf = "order.delivered != true">Ordered Delivered:Request is On Processing</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="view-address" *ngIf="order.order_id == clickedOrderId">
                            <p class="address-header" *ngIf = "order.delivered == true"><b>Delivered Address</b></p>
                            <p class="address-header" *ngIf = "order.delivered != true"><b>Delivery Address</b></p>
                            <p>Name: {{order.address.name}}</p>
                            <p>Phone: {{order.address.phone}}</p>
                            <p>Address: {{order.address.address}}, {{order.address.city}}, {{order.address.state}} -
                                {{order.address.pincode}}</p>
                            <p>Address Type: {{order.address.addressType}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="address-info" *ngIf="address">
                <div *ngIf="user[0].addresses.length == 0">
                    <img src="assets/no data.png" height="175px" width="175px">
                    <div class="no-address">
                        <h3>No address Found</h3>
                        <button mat-button (click)="goToAddAddress()"><span><i class="fa fa-plus"></i> Add
                                Address</span></button>
                    </div>
                </div>
                <div *ngIf="user[0].addresses.length != 0">
                    <div class="view-address scroll">
                        <div *ngFor="let address of user[0].addresses">
                            <p>Name: {{address.name}}</p>
                            <p>Phone: {{address.phone}}</p>
                            <p>Address: {{address.address}}, {{address.city}}, {{address.state}} -
                                {{address.pincode}}</p>
                            <p>Address Type: {{address.addressType}}</p>
                            <hr>
                        </div>
                        <button mat-button (click)="goToAddAddress()"><span><i class="fa fa-plus"></i> Add
                                Address</span></button>
                    </div>
                </div>
            </div>
            <div class="address-info" *ngIf="addAddress">
                <p>Add Address</p>
                <hr>
                <div class="edit-body">
                    <mat-horizontal-stepper>
                        <form [formGroup]="addressForm">
                            <mat-step label="Step 1">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput formControlName="name" placeholder="Enter Name"
                                        required>
                                </mat-form-field><br>
                                <mat-form-field appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input type="text" matInput formControlName="phone" placeholder="Enter Phone Number"
                                        required>
                                </mat-form-field><br>
                                <mat-form-field appearance="outline">
                                    <mat-label>City</mat-label>
                                    <input type="text" matInput formControlName="city" placeholder="Enter Your City"
                                        required>
                                </mat-form-field><br>
                                <button mat-button matStepperNext>Next</button>
                            </mat-step>

                            <mat-step label="Step 2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <textarea type="text" matInput formControlName="address" placeholder="Enter Address"
                                        required></textarea>
                                </mat-form-field><br>
                                <mat-form-field appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input type="text" matInput formControlName="state" placeholder="Enter State"
                                        required>
                                </mat-form-field><br>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </mat-step>

                            <mat-step label="Step 3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Pincode</mat-label>
                                    <input matInput type="text" formControlName="pincode" placeholder="Enter Pincode"
                                        required>
                                </mat-form-field><br>
                                <label>Address Type</label><br><br>
                                <mat-radio-group formControlName="addressType" aria-label="Select an option">
                                    <mat-radio-button value="home">Home</mat-radio-button>
                                    <mat-radio-button value="office">Office</mat-radio-button>
                                </mat-radio-group>
                                <button mat-button matStepperPrevious>Back</button>
                                <button class="submit-address" [disabled]="!addressForm.valid" mat-raised-button
                                    (click)="submit_address_info()">Save Address</button>
                            </mat-step>
                        </form>
                    </mat-horizontal-stepper>
                </div>
            </div>
            <div class="wishlist-info" *ngIf="wishlist"></div>
        </div>
    </div>


<app-footer></app-footer>