<!--Sign In-->
<div class="signin-container" *ngIf = "sign_in">
    <div class="close"><span role="button" mat-dialog-close (click) = "loginDetails.reset()"><i class="fa fa-times"></i></span></div>
    <div class="header">
        <h1>Sign In</h1>
    </div>
    <div class="login-form">
        <form class="form-contents" [formGroup] = "loginDetails" (ngSubmit) = "user_login()">
            <div class = "form-field">
                <label>Email</label><br>
                <input type="email" placeholder="Enter Email" formControlName = "email" /><br>
                <div class="error-messages" *ngIf = "loginDetails.get('email').invalid && 
                                                     loginDetails.get('email').touched">
                    <small class="text-danger" *ngIf="loginDetails.get('email').errors?.required">Email is required</small>
                    <small class="text-danger" *ngIf = "loginDetails.get('email').errors?.email">Invalid Email Address</small>
                </div>
            </div>
            <div class="form-field">
                <label>Password</label><br>
                <input [type]="fieldTextType ? 'text' : 'password'"
                placeholder="Enter Password" formControlName = "password" /><br>
                <div class = "error-messages" *ngIf = "loginDetails.get('password').touched &&
                                                       loginDetails.get('password').invalid">
                    <small class = "text-danger" *ngIf="loginDetails.get('password').errors?.required">Password is required</small>
                    <small class="text-danger" *ngIf = "loginDetails.get('password').errors?.minlength">Password must consist of atleast 6 characters </small>
                </div>
            </div>
            <button class="submit" mat-raised-button [disabled] = "!loginDetails.valid">Submit</button>
            <p>Do not have a account <button (click)="this.loginDetails.reset(); signUp()">Sign up</button> here</p>
        </form>
    </div>
</div>

<!--Sign Up-->
<div class="signup-container" id = "sign_up" *ngIf = "!sign_in">
    <div class="close"><span role="button" (click) = "registrationDetails.reset()" mat-dialog-close><i class="fa fa-times"></i></span></div>
    <div class="header">
        <h1>Sign Up</h1>
    </div>
    <div class="login-form">
        <form class="form-contents" [formGroup] = "registrationDetails" (ngSubmit) = "register_to_shopEase()">
            <div *ngIf = "first_page">
                <div class="form-field">
                    <label>First Name</label><br>
                    <input type="text" placeholder="First Name" formControlName = "firstName" /><br>
                    <div class="error-messages" *ngIf = "registrationDetails.get('firstName').invalid && 
                                                     registrationDetails.get('firstName').touched">
                        <small class="text-danger" *ngIf="registrationDetails.get('email').errors?.required">First Name is required</small>
                    </div>  
                </div>
                <div class="form-field">
                    <label>Last Name</label><br>
                    <input type="text" placeholder="Last Name" formControlName = "lastName" /><br>
                    <div class="error-messages" *ngIf = "registrationDetails.get('lastName').invalid && 
                                                     registrationDetails.get('lastName').touched">
                        <small class="text-danger" *ngIf="registrationDetails.get('lastName').errors?.required">Last Name is required</small>
                    </div>  
                </div>
                <button class = "right"><span><i class="fa fa-arrow-right fa-lg" (click) = "goTo_2page_signUp()"></i></span></button><br><br><br><br>
            </div>
            <div *ngIf = "second_page">
                <div class="form-field">
                    <label>Phone Number</label><br>
                    <input type="text" placeholder="Enter Number" formControlName = "phone" /><br>
                    <div class="error-messages" *ngIf = "registrationDetails.get('phone').invalid && 
                                                     registrationDetails.get('phone').touched">
                        <small class="text-danger" *ngIf="registrationDetails.get('phone').errors?.required">Phone Number is required</small>
                        <small class="text-danger" *ngIf = "registrationDetails.get('phone').errors?.pattern">Please Enter 10 digit phone number</small>
                    </div>  
                </div>
                <div class="form-field">
                    <label>Email</label><br>
                    <input type="email" placeholder="Enter Email" formControlName = "email" /><br>
                    <div class="error-messages" *ngIf = "registrationDetails.get('email').invalid && 
                                                     registrationDetails.get('email').touched">
                        <small class="text-danger" *ngIf="registrationDetails.get('email').errors?.required">Email is required</small>
                        <small class="text-danger" *ngIf = "registrationDetails.get('email').errors?.email">Invalid Email Address</small>
                    </div>  
                </div>
                <button class="left"><span><i class="fa fa-arrow-left fa-lg" (click) = "goTo_1page_signUp()"></i></span></button>
                <button class = "right"><span><i class="fa fa-arrow-right fa-lg" (click) = "goTo_3page_signUp()"></i></span></button><br><br><br><br>
            </div>
            <div *ngIf = "third_page">
                <div class="form-field">
                    <label>Password</label><br>
                    <input type="password" placeholder="Enter Password" formControlName = "password" /><br>
                    <div class = "error-messages" *ngIf = "registrationDetails.get('password').touched &&
                                                       registrationDetails.get('password').invalid">
                        <small class = "text-danger" *ngIf="registrationDetails.get('password').errors?.required">Password is required</small>
                        <small class="text-danger" *ngIf = "registrationDetails.get('password').errors?.minlength">Password must consist of atleast 6 characters </small>
                    </div>
                </div>
                <div class="form-field">
                    <label>Confirm Password</label><br>
                    <input type="password" placeholder="Re Enter Password" formControlName = "confirmPassword" /><br>
                    <div class = "error-messages" *ngIf = "registrationDetails.get('confirmPassword').touched &&
                                                       registrationDetails.get('confirmPassword').invalid">
                        <small class = "text-danger" *ngIf="registrationDetails.get('confirmPassword').errors?.required">Password is required</small>
                        <small class="text-danger" *ngIf = "registrationDetails.get('confirmPassword').errors?.minlength">Password must consist of atleast 6 characters </small>
                    </div>
                </div>
                <button class="left"><span><i class="fa fa-arrow-left fa-lg" (click) = "goTo_2page_signUp()"></i></span></button>
                <button class="signup-submit" mat-raised-button [disabled]="!registrationDetails.valid">Submit</button><br>
            </div>
            <p>Already a account <button (click) = "registrationDetails.reset(); signIn()">Sign in</button> here</p>
        </form>
    </div>
</div>