.profile-wrapper{
    padding: 25px 100px 25px 100px;
    font-family: Raleway !important;
}

.profile-card{
    background-color: #FDF8F5;
    padding:20px;
}

.acc-heading{
    font-size: 20px;
    margin-bottom: 10px;
}

hr{
    border-color: salmon;
}

.profile-heading hr{
    margin-bottom:0px;
    padding-bottom: 0px;
}

.side-nav, .add-info, .delete-product, .change-password{
    display: inline-block;
    height:250px;
}

.side-nav{
    width:150px;
    height:470px;
    border-right: 1.5px solid salmon;
    padding-top: 20px;
}

a{
    color:black;
    text-decoration: none !important;
}

.side-nav a{
    display: block;
    padding-bottom: 20px;
    padding-left: 35px;
}

.side-nav a:hover{
    text-decoration: underline !important;
    text-decoration-style: solid !important;
    text-decoration-color: black !important;
}

.active{
    text-decoration: underline !important;
    text-decoration-style: solid !important;
    color:salmon !important;
    text-decoration-color: salmon !important;
}

.profile-info, .add-info, .delete-product{
    position:absolute !important;
    margin:15px;
    border:1.5px solid salmon;
    height:455px;
}

.profile-info{
    padding: 35px 70px 25px 150px;
}

.add-info, .delete-product, .change-password{
    padding: 35px 70px 25px 35px;
}

.profile-info > p, .delete-product > p, .change-password > p, .add-info > p{ 
    font-size:18px;
}

.profile-info hr, .edit-info hr, .address-info hr{
    margin:20px 0px 20px 0px;
}

.add-info{
    width:60%;
}

.add-info mat-form-field{
    margin-right:25px;
    margin-bottom:25px;
}

.next-button, .add-color, .submit-button{
    background-color: salmon;
    float:right;
}

.next-button{
    margin-top:100px;
}

.back-button{
    background-color: salmon;
    float:left;
}

.add-color{
    margin-top:10px !important;
}

.delete-container{
    width:650px !important;
    padding: 10px;
}

.delete-container div{
    display: inline-block;
    width:250px;
    margin-bottom: 30px;
}

.delete-container a:hover{
    color: salmon !important;
    text-decoration: underline !important;
    text-decoration-style: solid !important;
    text-decoration-color: salmon !important;
    font-weight: bolder;
    padding-left:20px;
}